<table cellpadding="0" cellspacing="0" border="0" width="100%" id="listTable" >
      <tr>
        <td id="ml" width="260" >
            <table cellpadding="0" cellspacing="0" border="0" style="table-layout:fixed" class="middle_list">
                <tr>
                    <td class="firstChild">
                        <table id="firstChildButtonTable">
                            <tr>
                                <td><button class="btn btn-default" type="button" (click)="addModal.open()">Add</button></td>
                              <td>
                                  <div class="form-group">
                                    <label class="sr-only" for="listFilter">Developer Operations</label>
                                    <div class="input-group">
                                      <input type="text" class="form-control" id="listFilter" ng-model="search.name" placeholder="Search Projects">
                                      <div class="input-group-addon"><span class="fa fa-search"></span></div>
                                    </div>
                                  </div>
                              </td>
                               <td>
                                <div class="dropdown">
                                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    Show
                                    <span class="caret"></span>
                                  </button>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="javascript:void(0)" ng-click="pageChanged(10)">10 per Page</a></li>
                                    <li><a href="javascript:void(0)" ng-click="pageChanged(25)">25 per Page</a></li>
                                    <li><a href="javascript:void(0)" ng-click="pageChanged(50)">50 per Page</a></li>
                                  </ul>
                                </div>
                              </td>
                            </tr>
                          </table>
                      </td>
                  </tr>
                  <tr>
                    <td class="mid_list" style="overflow:hidden;">
                        <div class="mid_list"  >
                            <p [class.hidden]="true">
                                No Results
                            </p>

                            <a #firstItem class="list-group-item" style="min-height:50px;"
                                *ngFor="let developerOperation of developerOperations"
                                (click)="onSelect(developerOperation)"
                                [class.itemSelected]="isSelected(developerOperation)">
                                <div>
                                    <div class="list-name">
                                      {{ developerOperation.name }}
                                    </div>
                                     <div class="list-number">{{developerOperation.projectNumber}}</div>
                                    <div class="list-dates">
                                      <span class="pull-left">Date Created</span>
                                      <span class="pull-right">Status</span>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </td>
                </tr>
                    <tr>
                        <td id="refreshListContainer">
                            <a ng-click="refreshData(false)"><span class="pull-right fa fa-refresh"></span></a>
                        </td>
                    </tr>
            </table>
        </td>
        <td id="mc">
            <div class="detailsColumn" >
              <router-outlet></router-outlet>
            </div>
        </td>
    </tr>
</table>


<!-- Begin Add Developer Operation Modal -->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" [cssClass]="cssClass" #addModal>
    <form #modalForm="ngForm" class="form-horizontal" role="form" >
        <modal-header [show-close]="true">
            <h4 class="modal-title">Add Operation</h4>
        </modal-header>
        <modal-body>
            <div class="form-group">
                <label for="name" class="control-label col-md-3">Name</label>
                <div class="col-md-8">
                  <input type="text" class="form-control" required [(ngModel)]="model.name" name="name" id="name">
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="addModal.dismiss()">Cancel</button>
            <button type="button" class="btn btn-primary" [disabled]="!modalForm.valid" (click)="addModal.close()">Save</button>
        </modal-footer>
    </form>
</modal>
<!-- End Add Samples Modal -->
