<div class="row" *ngIf="serviceDefinition">
  <div class="col-md-12">
    <nav-item></nav-item>
    <h2 class="adminTitle" style="padding-left:20px;"> {{ serviceDefinition.name }} </h2>

    <ul class="nav nav-tabs">
      <li class="active"><a href="javascript:void(0);#details" data-toggle="tab">{{ 'administration_details_tab_label' | translate }}</a></li>
      <li><a href="javascript:void(0);#related" data-toggle="tab">{{ 'administration_related_label' | translate }}</a></li>
      <li><a href="javascript:void(0);#dependencies" data-toggle="tab">{{ 'administration_dependencies_label' | translate }}</a></li>
      <li><a href="javascript:void(0);#configuration" data-toggle="tab">{{ 'administration_configuration_label' | translate }}</a></li>
      <li><a href="javascript:void(0);#version" data-toggle="tab">{{ 'administration_version_label' | translate }}</a></li>
      <li><a href="javascript:void(0);#serviceInstance" data-toggle="tab">{{ 'administration_serviceInstances_label' | translate }}</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade in active" id="details">
        <form #modalForm="ngForm" class="form-horizontal" id="serviceDefinitionsForm" name="serviceDefinitionsForm">
          <div class="st_button_bar">

            <button class="btn btn-default dropdown-toggle displayMode" type="button" (click)="modify()">{{'BTN_modify_label' | translate }}</button>
            <button class="btn btn-danger dropdown-toggle displayMode" type="button" (click)="serviceDefinitionDeleteModalOpen()">{{'BTN_delete_label' | translate }}</button>

            <button class="btn btn-primary dropdown-toggle editMode" type="button" [disabled]="!modalForm.form.valid" (click)="save()">{{'BTN_save_label' | translate }}</button>
            <button class="btn btn-default dropdown-toggle editMode" type="button" (click)="cancel()">{{'BTN_cancel_label' | translate }}</button>

            <span class="pull-right editMode">
              <span class="small text-muted"><span class="requiredField">* </span>{{ 'administration_required_label'
            | translate }}</span>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <span class="small text-muted"><span class="uniqueField">† </span>{{ 'administration_unique_label' | translate
            }}</span>
            </span>
          </div>
          <div class="form-group h26 displayMode">
            <label for="name" class="col-md-3 control-label">{{ 'administration_id_label' | translate }}</label>
            <div class="col-md-8">
              {{serviceDefinition.id}}
            </div>
          </div>

          <div class="form-group h26" [ngClass]="{'has-error':(error.name)}">
            <label for="name" class="col-md-3 control-label"><sup class="uniqueField text-muted editMode">† </sup><span class="requiredField editMode">* </span>{{ 'administration_name_label' | translate }}</label>
            <div class="col-md-8">
              <input type="text" class="form-control editMode" id="name" name="name" required [(ngModel)]="serviceDefinition.name">
              <span class="displayMode">{{serviceDefinition.name}}</span>
              <span class="text-danger" *ngIf="error.name">{{error.name.errorMessage}}</span>
            </div>
          </div>

          <div class="form-group">
            <label for="description" class="col-md-3 control-label">{{ 'administration_description_label' | translate }}</label>
            <div class="col-md-8">
              <textarea class="form-control editMode" id="description" name="description" [(ngModel)]="serviceDefinition.description"></textarea>
              <span id="description_span" class="displayMode">{{serviceDefinition.description}}</span>
            </div>
          </div>

          <div class="form-group h26" [ngClass]="{'has-error':(error.businessCode)}">
            <label for="businessCode" class="col-md-3 control-label"><sup class="uniqueField text-muted editMode">† </sup>{{ 'administration_businessCode_label' | translate }}</label>
            <div class="col-md-8">
              <input type="text" class="form-control editMode" id="businessCode" name="businessCode" required [(ngModel)]="serviceDefinition.businessCode">
              <span class="displayMode">{{serviceDefinition.businessCode}}</span>
              <span class="text-danger" *ngIf="error.businessCode">{{error.businessCode.errorMessage}}</span>
            </div>
          </div>
          

          <div class="form-group h26">
            <label class="col-md-3 control-label">{{ 'administration_status_label' | translate }}</label>
            <div class="col-md-8">
              <div class="editMode">
                <div class="checkbox checkbox-primary">
                  <input type="checkbox" id="status" name="status" [(ngModel)]="serviceDefinition.statusName">
                  <label for="status">{{ 'administration_active_label' | translate }}</label>
                </div>
                <span class="text-danger" *ngIf="error.statusName">{{error.statusName.errorMessage}}</span>
              </div>
              <span class="displayMode">{{serviceDefinition.statusName?'Active':'Inactive'}}</span>
            </div>
          </div>




        </form>
      </div>
      <!-- /details tab -->

      <div class="tab-pane fade" id="related">
          <form #credsForm="ngForm" class="form-horizontal" id="serviceDefinitionsForm" name="serviceDefinitionsForm">
            <div class="st_button_bar">
                <button class="btn btn-primary dropdown-toggle" type="button" [disabled]="!credsForm.form.valid" (click)="saveCreds()">{{'BTN_save_label' | translate }}</button>
            </div>

          </form>
      </div>
      <!-- /related -->

      <div class="tab-pane fade" id="dependencies">
          <form #credsForm="ngForm" class="form-horizontal" id="serviceDefinitionsForm" name="serviceDefinitionsForm">
            <div class="st_button_bar">
            </div>
            dependencies
          </form>
      </div>
      <!-- /related -->

      <div class="tab-pane fade" id="configuration">
          <form #credsForm="ngForm" class="form-horizontal" id="serviceDefinitionsForm" name="serviceDefinitionsForm">
            <div class="st_button_bar">
            </div>
            configuration
          </form>
      </div>
      <!-- /related -->

      <div class="tab-pane fade" id="version">
          <form #versionForm="ngForm" class="form-horizontal" id="serviceDefinitionsForm" name="serviceDefinitionsForm">
            <div class="st_button_bar">
            </div>
            version
          </form>
      </div>
      <!-- /related -->

      <div class="tab-pane fade" id="serviceInstance">
          <form #serviceInstanceForm="ngForm" class="form-horizontal" id="serviceDefinitionsForm" name="serviceDefinitionsForm">
            <div class="st_button_bar">
            </div>
            serviceInstance
          </form>
      </div>
      <!-- /related -->

    </div>
    <!-- /tab-content -->

  </div>
</div>
<!-- /row -->



<!-- Begin Delete serviceDefinition Modal -->
<modal [animation]="animation" [keyboard]="keyboard" [backdrop]="backdrop" [cssClass]="cssClass" #deleteModal>
  <form #modalForm="ngForm" class="form-horizontal" role="form">
    <modal-header [show-close]="true">
      <h4 class="modal-title">Delete serviceDefinition</h4>
    </modal-header>
    <modal-body>
      <div class="form-group">

        <div class="text-center">Do you want to delete ?</div>
        <div class="text-center" [innerHTML]="serviceDefinition.serviceDefinition"></div>

      </div>


    </modal-body>
    <modal-footer>
      <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="submitDeleteConfirm()">Yes</button>
      <button type="button" class="btn btn-default" (click)="deleteModal.dismiss()">Cancel</button>
    </modal-footer>
  </form>
</modal>
<!-- End Delete serviceDefinition Modal -->